 .contact-meddle {
     display: flex;
     justify-content: center;

     font-family: 'Berkshire Swash', cursive;
     font-family: 'Kanit', sans-serif;
     font-family: 'Mochiy Pop P One', sans-serif;
     font-family: 'Mouse Memoirs', sans-serif;
     font-family: 'Oswald', sans-serif;
 }

 .contact-form {
     display: flex;
     justify-content: center;
     text-align: center;
     color: red;
     font-size: larger;
     font: bolder;

     font-family: 'Berkshire Swash', cursive;
     font-family: 'Kanit', sans-serif;
     font-family: 'Mochiy Pop P One', sans-serif;
     font-family: 'Mouse Memoirs', sans-serif;
     font-family: 'Oswald', sans-serif;
 }

 .contact {
     text-align: center;
     font-size: xx-large;
     font: bold;
     color: firebrick;
     margin-top: 20px;
     margin-bottom: 20px;

     font-family: 'Berkshire Swash', cursive;
     font-family: 'Kanit', sans-serif;
     font-family: 'Mochiy Pop P One', sans-serif;
     font-family: 'Mouse Memoirs', sans-serif;
     font-family: 'Oswald', sans-serif;
 }