.project {
    margin-bottom: 10px;
}

.heading {
    margin-top: 10px;
    font-size: xx-large;
    font: bold;
    color: blue;
    text-align: center;

    font-family: 'Berkshire Swash', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Oswald', sans-serif;
}