.about {
    margin-left: 35px;
    margin-right: 35px;
    font: bold;
    font-size: x-large;

    font-family: 'Berkshire Swash', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.Title {
    margin-top: 30px;
}

.aboutme {
    color: blue;
    margin-bottom: 10px;
}